click==6.6
eventlet==0.19.0
Flask==0.11.1
Flask-SocketIO==2.5
greenlet==0.4.10
gunicorn==18.0.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
nltk==3.2.1
plumbum==1.6.1.post0
python-engineio==0.9.2
python-Levenshtein==0.12.0
python-socketio==1.4.1
rpyc==3.3.0
six==1.10.0
Unidecode==0.4.19
Werkzeug==0.11.10
frozendict==0.6
numpy==1.11.1
pandas==0.18.1