<!DOCTYPE html>
<html>
<head>
	<title>{{elm_component}}</title>

    <script type="text/javascript" src="/static/fuse.js"></script>
    <script type="text/javascript" src="/static/socket.io.min.js"></script>
    <script type="text/javascript" src="/static/underscore-min.js"></script>
    <script type="text/javascript" src="/static/elm-helpers.js"></script>

    <!-- needs native alternative to $.getScript -->
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>

    <script src="/static/jquery-3.0.0.min.js" ></script>

    <link href="/static/main.css" rel="stylesheet">
    <link href="/static/menu.css" rel="stylesheet">
    <link href="/static/loadout.css" rel="stylesheet">
    <link href="/static/pokemon.css" rel="stylesheet">

    <title></title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
    <script>
    	// Elm js hosted remotely for compatibility with Heroku...
    	var elmComponent = "{{elm_component}}"

		var app 
		var socketRoom = '/'

		function launchElm(){
            var elmApp = Elm[elmComponent]
            // object structure here depends on path to elm module, e.g.,
            // top-level Component vs Component.Component 
            if (elmApp.hasOwnProperty(elmComponent)) {
                elmApp = elmApp[elmComponent]
            }
			app = elmApp.fullscreen()

			// register communication to/from elm, flask
			// ports missing from Elm component will throw an error in browser

			//// FLASK -> ELM ////
            sendRemark(app)
            sendWordbank(app)
            sendEnemy(app)
            sendEncounter(app)
            sendMap(app)
            sendPlayer(app)

            //// ELM -> FLASK ////
            sendInsult(app)
            sendTransition(app)
            sendLoadout(app)

            //// ELM -> JS    ////
            scrollTop(app)
            scrollParent(app)
            setFocus(app)
            askFuse(app)

            // setTimeout may be unnecessary
			setTimeout(function(){ 

	            initialize()

	            }
	            ,	0
	        );
		}

		$(document).ready(function() {

                [localElmJS, hostedElmJS] = elmJS[elmComponent]

				documentReady(socketRoom)
		        getScriptLocalHosted(localElmJS, hostedElmJS, launchElm)

		    }
		)

    </script>
</body>
</html>
