<html>
    <head>
        <title>CMPD</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
        <script type="text/javascript" src="/static/fuse.js"></script>
        <script   src="/static/jquery-3.0.0.min.js"   integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="   crossorigin="anonymous"></script>
        <script type="text/javascript" src="/static/socket.io.min.js"></script>
        <script type="text/javascript" src="/static/underscore-min.js"></script>
        <script type="text/javascript" charset="utf-8">
            var socket, ws;
            var wordbank = {{wordbank | safe}};
            var wordbank_size = 30
            var fuse_opts = {threshold: 0.4}
            ws.fuse = new Fuse(wordbank, fuse_opts);
            var $wordbank, $convo

            $(document).ready(function() {

                $wordbank = $('#wordbank')
                $convo    = $('#convo')

                // set up socketio
                var target = 'http://' + document.domain + ':' + location.port + '/base'
                console.log('connecting to ' + target)
                socket = io.connect(target);

                // display insults and replies
                socket.on('retort', function(data) {
                    var new_div = '<div class="insult">' + data.insult + '</div>'
                    $convo.html( $convo.html() + new_div);
                    var new_div = '<div class="reply">'  + data.reply + '</div>'
                    $convo.html( $convo.html() + new_div);
                    $convo.parent().scrollTop($('#output')[0].scrollHeight);

                    // requires style="display:none" in div
                    // $('#convo .reply:last').fadeIn('slow')
                });

                // initializes wordbank from server
                // replaces fuse instance
                socket.on('update_wordbank', function(data) {
                    wordbank = data.wordbank
                    display_wordbank(wordbank, $wordbank)
                    ws.fuse = new Fuse(wordbank, fuse_opts);
                })

                // displays entries from words, up to wordbank_size
                display_wordbank = function (words, $wordbank) {
                    $wordbank.html('')

                    words_to_show = _.first(words, wordbank_size)
                    $.each(words_to_show, function(index, word) {
                        $wordbank.html($wordbank.html() + '<div class="word">' + word + '</div>')
                    })
                }

                // updates the wordbank as you type
                $('#input-input').keyup(function(){
                    var text = $('#input-input').val()
                    // keystrokes w/ empty input (delete, arrow) shuffle
                    // displayed wordbank
                    if (text==''){
                        display_wordbank(_.shuffle(wordbank), $wordbank)
                    }
                    else {
                        var indices = fuse.search(text)
                        display_wordbank(_.map(indices, 
                            function(i){return wordbank[i]}),
                            $wordbank)
                    }
                    
                })

                // submits first matching insult
                $('#input-input').keypress(function(e) {
                    var code = e.keyCode || e.which;
                    if (code == 13) {
                        var text = $('#input-input').val();
                        var word = $('#wordbank .word').html();
                        if (word) {
                            // console.log('emitting ' + word)
                            socket.emit('insult', {
                                insult: word
                            })
                            $('#input-input').val('')
                            $('#input-input').keyup()
                        }
                    }
                });

                display_wordbank(wordbank, $wordbank)
                $('#input-input').focus()
            });
        </script>
    </head>

    <body>
        <div id="main">
            <div id="header">
                <img id="enemy" src="{{enemy}}" alt="an enemy"></img>
            </div>
            <div id="output">
                <div id="convo">
                </div>
            </div>
            <div id="input">
                <input id="input-input"><br><br>
            </div>
            <div id="wordbank">
            </div>
        </div>
    </body>
</html>

