<!DOCTYPE html>
<html>
<head>
	<title>Map</title>

    <script type="text/javascript" src="/static/fuse.js"></script>
    <script type="text/javascript" src="/static/socket.io.min.js"></script>
    <script type="text/javascript" src="/static/underscore-min.js"></script>
    <script type="text/javascript" src="/static/elm-helpers.js"></script>

    <!-- needs native alternative to $.getScript -->
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>

    <script src="/static/jquery-3.0.0.min.js" ></script>

    <link href="/static/main.css" rel="stylesheet">
    <link href="/static/menu.css" rel="stylesheet">
    <link href="/static/loadout.css" rel="stylesheet">
    <link href="/static/pokemon.css" rel="stylesheet">

    <title></title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
    <script>
    	// Elm js hosted remotely for compatibility with Heroku...
    	var local_elm_js = "/static/Map.js"
    	var hosted_elm_js = "https://drive.google.com/uc?export=download&id=0B3flOzQHFe1mUFNpekI4QUVxdnM"

		var app 
		var socketRoom = '/map'

		function launchElm(){
			app = Elm.Map.fullscreen()

			// register communication to/from elm, flask
			
			//// FLASK -> ELM ////
        	updateWordbank(app)
            remark(app)
            changeEnemy(app)
            sendEncounter(app)
            sendMap(app)
            sendPlayer(app)

            //// ELM -> FLASK ////
            sendInsult(app)
            requestEncounter(app)
            updatePlayer(app)

            //// ELM -> JS    ////
            scrollTop(app)
            setFocus(app)
            askFuse(app)

            // setTimeout may be unnecessary
			setTimeout(function(){ 

	            initialize()

	            }
	            ,	0
	        );
		}

		$(document).ready(function() {

				documentReady(socketRoom)
		        getScriptLocalHosted(local_elm_js, hosted_elm_js, launchElm)

		    }
		)

    </script>
</body>
</html>
