<!DOCTYPE html>
<html>
<head>
	<title>Upload Harlowe</title>

	<script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
	<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">

    <title></title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>

<form action="upload" class="dropzone"></form>

<!-- <form action="/upload-target" class="dropzone dz-clickable"> -->
<!-- <div class="dz-default dz-message"><span>Drop Harlowe .html here</span>
</div>
 -->
 	
 </form>
</body>