<!DOCTYPE html>
<html>
<head>
	<title>CMPD-Base</title>

    <script type="text/javascript" src="/static/fuse.js"></script>
    <script type="text/javascript" src="/static/socket.io.min.js"></script>
    <script type="text/javascript" src="/static/underscore-min.js"></script>
    <script type="text/javascript" src="/static/elm-helpers.js"></script>

    <!-- needs native alternative to $.getScript -->
    <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>

    <script src="/static/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>


    <link href="/static/main.css" rel="stylesheet">

    <title></title>
</head>
<body>
    <script>

    	var socketRoom = '/versus'
		var app
		var enemy = "{{enemy | safe}}"

		// Elm js hosted remotely for compatibility with Heroku...
		var hosted_elm_js = "https://drive.google.com/uc?export=download&id=0B3flOzQHFe1mVTNXZE9ZckdScUE"
		var local_elm_js = "/static/Versus.js"
		

		function launchElm(){
			app = Elm.Versus.fullscreen()

			// register communication to/from elm, flask
			sendInsult(app)
            scrollTop(app)
            askFuse(app)

        	updateWordbank(app)
            remark(app)
            changeEnemy(app)

            setTimeout(function(){ 

	            app.ports.setEnemyImage.send(enemy)

	            app.ports.newWordbank.send({{wordbank | safe}})
	            }
	            ,	0
	        );
		}



		$(document).ready(function() {

				documentReady(socketRoom)
		        getScriptLocalHosted(local_elm_js, hosted_elm_js, launchElm)

		    }
		)

    </script>
</body>
</html>
